![alt text](https://media.discordapp.net/attachments/187310213680857089/647604075587698698/group1projectpart2.png)

In [0]:
import sqlite3
connectionToDatabase = sqlite3.connect('Flixnet') 
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Movies''')
connectionToDatabase.commit()

cursor.execute('''create table Movies ( Movie_title text PRIMARY KEY, Movie_length int, Movie_genre text, Movie_rating text, Movie_director text)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS Actors''')
connectionToDatabase.commit()

cursor.execute('''create table Actors (Actor_name text PRIMARY KEY, Actor_movies text, Actor_shows text, Actor_related_actors text)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS Users''')
connectionToDatabase.commit()

cursor.execute('''create table Users (User_ID int PRIMARY KEY, Profile_name text, User_reviews text, User_age int, User_StreamTime int)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS TV''')
connectionToDatabase.commit()

cursor.execute('''create table TV (TV_title text PRIMARY KEY, TV_num_seasons int, Start_year int, TV_genre text, TV_rating text)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS DVD''')
connectionToDatabase.commit()

cursor.execute('''create table DVD (DVD_id int PRIMARY KEY, DVD_title text, DVD_Idlocation int, DVD_address int, DVD_receipt int)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Movies values ('Avengers_Endgame', 182, 'Superhero', 'PG-13', 'Anthony_Russo');''')
connectionToDatabase.commit()
cursor.execute('''insert into Movies values ('Joker' , 122, 'Thriller', 'R', 'Todd_Phillips');''')
connectionToDatabase.commit()
cursor.execute('''insert into Movies values ('Get_Out', 104, 'Horror', 'R', 'Jordan_Peele');''')
connectionToDatabase.commit()
cursor.execute('''insert into Movies values ('The_Dark_Knight', 152, 'Superhero', 'PG-13', 'Christopher_Nolan');''')
connectionToDatabase.commit()
cursor.execute('''insert into Movies values ('Pulp_Fiction', 178, 'Comedy', 'R', 'Quentin_Tarantino');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Actors values ('Steve_Carell', 'Minions', 'The_Office', 'John_Krasinski');''')
connectionToDatabase.commit()
cursor.execute('''insert into Actors values ('John_Krasinski','A_Quiet_Place','The_Office', 'Rainn_Wilson');''')
connectionToDatabase.commit()
cursor.execute('''insert into Actors values ('Danny_DeVito','Matilda','Its_Always_Sunny','Michael_Keaton');''')
connectionToDatabase.commit()
cursor.execute('''insert into Actors values ('Michael_Keaton','Batman','Working_Stiffs','Christian_Bale');''')
connectionToDatabase.commit()
cursor.execute('''insert into Actors values ('Bryan_Cranston','Why_Him','Breaking_Bad','Aaron_Paul');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Users values (123,'this_is_not_fake',4,20,153);''')
connectionToDatabase.commit()
cursor.execute('''insert into Users values (124,'i_love_projects',5,18,90);''')
connectionToDatabase.commit()
cursor.execute('''insert into Users values (125,'thisisfun',5,35,264);''')
connectionToDatabase.commit()
cursor.execute('''insert into Users values (157,'hello_user',1,56,270);''')
connectionToDatabase.commit()
cursor.execute('''insert into Users values (160,'username1',5,21,300);''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into TV values ('Game_of_Thrones' , 8, 2011, 'Fantasy', 'TV_MA');''')
connectionToDatabase.commit()
cursor.execute('''insert into TV values ('The_Office' , 9, 2005, 'Comedy', 'TV_14');''')
connectionToDatabase.commit()
cursor.execute('''insert into TV values ('Stranger_Things' , 3, 2016, 'Horror', 'TV_14');''')
connectionToDatabase.commit()
cursor.execute('''insert into TV values ('Greys_Anatomy' , 16, 2005, 'Romance', 'TV_14');''')
connectionToDatabase.commit()
cursor.execute('''insert into TV values ('American_Horror_Story' , 9, 2011, 'Horror', 'TV_MA');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into DVD values (70123 , 'Midway', 0246, 0987, 00067);''')
connectionToDatabase.commit()
cursor.execute('''insert into DVD values (40135 , 'Frozen', 3406, 1117, 03456);''')
connectionToDatabase.commit()
cursor.execute('''insert into DVD values (98133 , 'Zombie_Land', 8504, 8497, 01283);''')
connectionToDatabase.commit()
cursor.execute('''insert into DVD values (93097 , 'Terminator', 2604, 0499, 03566);''')
connectionToDatabase.commit()
cursor.execute('''insert into DVD values (51073 , 'Addams_Family', 0089, 0001, 12890);''')
connectionToDatabase.commit()

What movies are rated R?
(sql command)

In [0]:
cursor.execute('''select * from Movies WHERE "Movie_rating" = "R"''')
for row in cursor.fetchall():
  print (row)

('Joker', 122, 'Thriller', 'R', 'Todd_Phillips')
('Get_Out', 104, 'Horror', 'R', 'Jordan_Peele')
('Pulp_Fiction', 178, 'Comedy', 'R', 'Quentin_Tarantino')

Being able to search for 'R' rated movies, or any rating really, is a very important feature of any video hosting/streaming service. Searching/Sorting by rating is one of the most common ways to search up new and/or old shows/movies, and our database being able to accurately determine the different ratings and search between them is vital to our platforms success. The results did match up with what we expected as these three movies were the only three rated 'R'.

What actors starred in The Office?
(sql command)

In [0]:
cursor.execute('''select * from Actors WHERE "Actor_shows" = "The_Office"''')
for row in cursor.fetchall():
  print (row)

('Steve_Carell', 'Minions', 'The_Office', 'John_Krasinski')
('John_Krasinski', 'A_Quiet_Place', 'The_Office', 'Rainn_Wilson')

Being able to determine which actors/actresses acted in a specific show/movie is a big part of how searches on our platform will operate and therefor it is very important that our database can inform the searcher on which actors/actresses worked on a particular show/movie and also show whether thay had worked on any other shows/movies. The results did match up with what we expected, showing which actors in our database worked on 'The Office' and also showed which other shows/movies they worked in.

What TV shows were released in 2005?
(sql command)

In [0]:
cursor.execute('''select * from TV WHERE "Start_year" = "2005"''')
for row in cursor.fetchall():
  print (row)

('The_Office', 9, 2005, 'Comedy', 'TV_14')
('Greys_Anatomy', 16, 2005, 'Romance', 'TV_14')

Grouping via release year is another feature of our platform that is reliant on our database being able to accurately determine and then group which shows and movies were released in any given year, this adds another way to discover new shows/movies or rediscover old ones which helps diversify our offerings for our customers. The results do appear to match out expectations by giving us the two TV shows that had their first season released in 2005.